name: MERN CI

on:
  push:
    branches: [ main ]

jobs:
  mongo-init:
    runs-on: ubuntu-latest
    
    services:
      mongo:
        image: mongo
        ports:
          - 27017:27017

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Wait for MongoDB to be ready
        run: |
          until nc -z localhost 27017; do
            echo "Waiting for MongoDB to be ready..."
            sleep 2
          done
            echo "MongoDB is ready!"

      - name: Seed MongoDB
        working-directory: ./backend
        run: |
          npm install
          node seedTasksData.js

  test:
    runs-on: ubuntu-latest
    needs: mongo-init

    env:
      PORT: ${ { secrets.PORT } }
      MONGO_URI: ${ { secrets.MONGO_URI } }
      JWT_SECRET: ${ { secrets.JWT_SECRET } }

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install backend dependencies and run tests
        working-directory: ./backend
        run: |
          npm install
          npm test

      - name: Install frontend dependencies and run tests
        working-directory: ./frontend
        run: |
          npm install
          npm test
